.navigation-wrapper {
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: 95%;
    height: 90%;
    align-items: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.navigation-wrapper button {
    height: fit-content;
}