.required:after {
    content:"  *";
    color: var(--validation-red-color);
}

.label-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.label-wrapper label {
    width: 60%;
}

.label-wrapper input {
    width: 60%;
}

.label-wrapper select {
    width: 61.5%;
}

.customerinput-wrapper {
    padding: 1.5rem 3rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.error-bordercolor {
    border-color: red;
}

@media screen and (min-width: 768px) {
    .container h1 {
        text-align: left;
        margin: 0;
    }

    .customerinput-wrapper {
        margin: 0 3rem;
        padding: 2rem 0;
        background-color: var(--secondary-color);
        border-radius: 5px;
    }
    
    form {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1.5rem;
    }

    .label-wrapper {
        display: flex;
        justify-content: center;
    }

    .label-wrapper label {
        width: 25%;
        text-align: left;
    }

    

    .label-wrapper input {
        width: 60%;
    }

    .label-wrapper select {
        width: 61.5%;
    }
}