@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}