.payment-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-template-columns: 1fr;
}

.payment-wrapper div {
    margin-bottom: 1rem;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    margin-top: 1rem;
}

.paymentmethod-wrapper,
    .paymentdetails-wrapper {
        padding: 1.5rem 3rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
    }

.paymentdetails-wrapper form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}


@media screen and (min-width: 768px) {
    .header-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .payment-wrapper div {
        text-align: left;
    }

    .paymentmethod-wrapper div {
        padding: 0.3rem 0;
    }

    .payment-wrapper {
        display: grid;
        gap: 0.5rem;
        margin: 3rem;
        grid-column-end: 3;
        grid-column-start: 1;
        grid-template-columns: 1fr 1fr;
    }

    .payment-wrapper p {
        margin-top: 0;
    }

    .paymentmethod-wrapper,
    .paymentdetails-wrapper {
        padding: 1.5rem 3rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
    }

    .paymentdetails-wrapper {
        grid-column-start: 2;
    }

    .giftcard-wrapper{
        text-align: left;
    }

    .input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
    }
}