table, th, td {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: auto;
    width: auto;
}

table th {
    font-weight: 700;
}

table tr:hover,
table tr:nth-child(even):hover {
    background-color: #F3F6F4;
}

table tr:nth-child(even) {
    background-color: var(--secondary-color);
}

table td button {
    background-color: unset;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 25%;
}

table td button.delete {
    font-weight: 700;
}
table td button.delete:hover {
    color: var(--validation-red-color);
    border-color: var(--validation-red-color);
}

table td.gift-wrap {
    text-align: center;
}

table .product-image img {
    width: 3rem;
    height: 3rem;
    display: block;
}

.upsell:after {
    content:" *";
    color: var(--validation-green-color);
}

@media screen and (max-width: 480px) {
    table, tbody, tr, td {
        display: block;
    }

    thead, th, table .product-image {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    table td, table th {
        padding: 12px 16px;
    }

    table td button {
        margin: 0 5px;
        padding: 2px 6px;
    }
}



