:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #385F71;
  --secondary-color: #F5F0F6;
  --accent-color: #A4778B;
  --secondary-accent-color: #F3F6F4;
  --validation-green-color: #72977F;
  --validation-red-color: #DC4725;
}