.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.summary p {
    flex-basis: 100%;
    text-align: right;
    padding: 2px 5px;
    margin: 2px;
    font-weight: bolder;
}

.summary button {
    background-color: var(--validation-green-color);
    color: var(--secondary-color);
    margin: 8px 0;
}

.summary button:hover {
    background-color: var(--secondary-color);
    color: var(--validation-green-color);
}
